.firstbt
{
    width: 200px;height: 50px;
    margin-top: 0px;background-color: rgba(255, 0, 0,0.0);
    opacity: 1.0;font: 25px 黑体;
    text-shadow: 1px 1px 1px #1f1b1b;
    background-origin: border=0;border-radius: 10px;
    color: rgba(247, 248, 248);
}
.normbt
{
    width: 200px;height: 50px;
    margin-top: 15px;background-color: rgba(255, 0, 0,0.0);
    opacity: 1.0;font: 25px 黑体;
    text-shadow: 1px 1px 1px #1f1b1b;
    background-origin: border=0;border-radius: 10px;
    color: rgba(247, 248, 248);
}
.basbt
{
    width: 50px;height: 50px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.basbt#ico-home
{
    margin-left: 70px;
    background-image: url(../icons/zhuye.svg);
}
.basbt#ico-back
{
    background-image: url(../icons/fanhui.svg);
}
.basbt#ico-save
{
    background-image: url(../icons/chucun.svg);
}
.basbt#ico-trans
{
    background-image: url(../icons/qiehuan-.svg);
}
.hover
{
    background-color: gray;
    transition: all 0.5s ease;
}
/*文本框*/
* {margin:0;padding:0}
.Text
{
    width:84%;
    height: 25%;
    background-color:gray;
    position:absolute;
    bottom:0;
    margin-left:8%;
    margin-right:8%;
    opacity:70%;
}
.Text .cover1
{
    width: 6%;
    height:38%;
    background:url(../images/test\ cover.jpg);
    background-size: 100% 100%;
    display:inline-block;
    position: absolute;
    top:20%;
    left:2%;
    border-radius: 5px;
}
.Text .cover2
{
    width: 6%;
    height:38%;
    background:url(../images/test\ cover\ B.jpg);
    background-size: 100% 100%;
    display:inline-block;
    position: absolute;
    top:20%;
    left:2%;
    border-radius: 5px;
}
.Text .dialog
{
    width:75%;
    padding:0 auto;
    border:1px dotted #1f1b1b;
    opacity: 0.8;
    left:10%;
    right:5%;
    top:20%;
    position: absolute;
    border-radius: 1px;
    font-size: 20px;
    text-indent: 1em;
    font-family: 微软雅黑;
    color:#fff;
    text-shadow: 1px -1px 1px #333;
    word-wrap:break-word;
    padding-left:4%;
    padding-right:5%;
}
.Text .Guide
{
    text-align: right;
    right:5%;
    top:80%;
    position: absolute;
    font-size: 20px;
    text-indent: 1em;
    font-family: 微软雅黑;
    color:#fff;
    text-shadow: 1px -1px 1px #333;
}
/*选择框*/
.DecisionBox
{
    width:30%;
    height:20%;
    background-image: url("../images/DecisionBg.png");
    background-size: 100%;
    border-radius: 8px;
    position:absolute;
    bottom:50%;
    margin-left:35%;
    margin-right:35%;
    opacity:60%;
}
.DecisionBox .Ques
{
    width:80%;
    border:1px solid black;
    position:absolute;
    top: 20%;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    font-family: 楷体;
    font-size:large;
    color:coral;
}
.DecisionBox .b1
{
    width:20%;
    /*border:1px solid black;*/
    position:absolute;
    top: 70%;
    margin-left:10%;
    font-family: 楷体;
    font-size:large;
    color:coral;
}
.DecisionBox .b2
{
    width:20%;
    /*border:1px solid black;*/
    position:absolute;
    top: 70%;
    margin-left:70%;
    font-family: 楷体;
    font-size:large;
    color:coral;
}
/*结局*/
.EndBox
{
    width: 30%;
    height: 60%;
    border:1px solid black;
    position:absolute;
    top: 20%;
    text-align: center;
    margin-left:60%;
    margin-right:10%;
    font-family: 宋体;
    font-size:larger;
    color:white;
}
.EndBox .Endtitle
{
    font-family: 黑体;
    font-size: large;
    text-align:center;
}
.EndBox .Endtext
{
    font-family: 宋体;
    font-size: medium;
    text-align:left;
    text-indent: 1em;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
/*Guide*/
.GuideBox
{
    height: 12%;
    background-image: url("../images/Guidepg.png");
    background-size: 100%;
    position:absolute;
    font-size: larger;
    top:1%;
    margin-left:21%;
    padding-left:5%;
    opacity:70%;
}
/*Achievements*/
.Achbt .Left
{
    width: 30%;height: 200px;
    margin-top: 120px;background-color: rgba(255, 0, 0,0.0);
    opacity: 1.0;font: 25px 黑体;
    background-origin: border=0;border-radius: 10px;
    color: rgba(247, 248, 248);
    margin-left:15%;
}
.Achbt .Right
{
    width: 30%;height: 200px;
    margin-top: 120px;background-color: rgba(255, 0, 0,0.0);
    opacity: 1.0;font: 25px 黑体;
    background-origin: border=0;border-radius: 10px;
    color: rgba(247, 248, 248);
    margin-left:10%;
}