*{
    user-select:none;
    background-color: #e3f0f6;
}
.topLine{
    size:20%;
}
.topLine ul{
    display: flex;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    height: 10%;
}
.topLine li{
    list-style: none;
    width: 25%;
}
.topLine li a{
    color:#66ccff;
    font-family: "STXinwei";
    font-size: 20px;
    transition: width 2s, background-color 2s, transform 2s;
}
.topLine li a:hover{
    color:#66ccff;
    font-family: "STXinwei";
    font-size: 25px;
}
.topPicture img{
    width: 100%;
    shape-image-threshold: inherit;
    background-size:100% 100%;
    background-attachment:fixed;

}